.error {
  color: green;
  background: lightsalmon;
  font-size: 25px;
  font-style: bold;
  text-align: center;
  padding: 30px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 40px;
}